body {
  display: flex;
  flex-direction: column;
  font-family: quicksand;
  margin: 0px;
}
.logo > a > img {
  height: 50px;
  border-radius: 5px;
}
.header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.links {
  display: flex;
  gap: 20px;
}
a {
  color: white;
  text-decoration: none;
}
.body1 {
  padding: 50px 200px;

  background-color: black;
}
.body1container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.body1left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 10px;
}
.body1right > img {
  max-width: 400px;
}
.big {
  font-size: 48px;
  font-weight: 900;
  justify-content: center;
  color: #f9faf8;
}
.small {
  font-size: 18px;
  color: #e5e7eb;
}
.body2 {
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 0px;
}

.body2container {
  display: flex;
  flex-direction: column;
}
.artistinformations {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}
.artistinfo {
  display: flex;
  border: #1f2937 2px solid;
  border-radius: 50px;
  gap: 30px;
  padding: 30px;
  font-size: 20px;
}
.artistinfo > img {
  border-radius: 20px;
  max-width: 400px;
  max-height: 600px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 50px 0px;
}
.information {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
}
.info,
.info > img {
  border-radius: 5px;
  max-width: 200px;
}
.info {
  width: 300px;
  height: 300px;
  margin: 25px;
}
.body3 {
  padding: 50px 200px;
  background-color: #e5e7eb;
}
.body3container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.owner {
  font-size: 36px;
  font-weight: 700;
  text-align: end;
}
.body4 {
  padding: 50px 200px;
}
.body4container {
  border-radius: 10px;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  color: white;
  gap: 50px;
}
.big2 {
  font-weight: 700;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
}
.footer {
  padding: 20px 0;
  text-align: center;
  background-color: #1f2937;
  color: white;
}
